<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
    <title>{{ SITENAME }}</title>
    <link href="http://fonts.googleapis.com/css?family=Arimo:400,700|Inika" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/pastie.css" />
    {% endblock head %}

  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <div class="span8 offset2">
              <a href="/" class="brand">Design &amp; Libre</a>
              <ul class="nav">
                {% if PAGES %}
                <li class="divider-vertical">
                {% for possiblepage in pages %}
                <li {% if possiblepage == page %}class="active"{% endif %}><a href="{{ SITEURL }}{{ possiblepage.url }}">{{ possiblepage.title}}</a></li>
                {% endfor %}
                {% endif %}
              </ul>
              {% if MENUITEMS %}
              <ul class="nav pull-right">
                {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span8 offset2">
          {% block content %}
          {% endblock %}
        </div>
      </div>

      <div class="row">
        <div class="span8 offset2">

          <hr>

          <div id="about">
            <p>Proudly powered by <a href="http://twitter.github.com/bootstrap/">bootstrap</a>, <a href="http://docs.notmyidea.org/alexis/pelican/">pelican</a>, <a href="http://python.org">python</a> and <a href="http://www.julo.ch/about/">Alex</a>!</p>
          </div><!-- /#about -->
        </div><!-- /#contentinfo -->
      </div>
    </div>

    {% if DISQUS_SITENAME %}
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '{{ DISQUS_SITENAME }}'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    {% endif %}

  </body>
</html>
